body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    position: relative;
    background: #258395;
}
#wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.top {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: 30px;
}

.title {
    height: 130px;
    width: 600px;
    text-transform: uppercase;
    text-align: center;
    font-family: arial,  serif;
}

#answer {
    display: flex;
}

.answer_letter {
    font-size: 40px;
    border-radius: 50%;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background: #52ed52;
    color: #212121;
    margin: 10px;
}


#keyboard {
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}

.keyboardBox {
    background: #B7DDE5;
    box-shadow: 5px 5px 5px black;
    border-radius: 25%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 30px;
    color: indigo;
    cursor: pointer;
    border: 1px solid #212121;
    margin: 5px;
}
#home{
    font-size: 30px;
    color: black;
    position: fixed;
    cursor: pointer;
    top: 50px;
    right: 50px;
}

#refresh {

    font-size: 30px;
    color: black;
    position: fixed;
    cursor: pointer;
    top: 50px;
    left: 50px;
}


.attempt {
    width: 150px;
    height: 40px;
    position: fixed;
    right: 0;
    top: 90%;
    transform: translateY(-50%);
    background: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #258395;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}

#text {
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}

#newGameBtn {
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 15px;
    cursor: pointer;
    background: #06f14c;
    color: #06f14c;
    margin-top: 100px;
}

#startBox{
    height: 30vh;
    width: 30%;
    top: 30%;
    right: 35%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

#startQuestion{
    font-size: 30px;
    text-align: center;
}

#startBtn{
    height: 90px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background: #03ad1a;
    cursor: pointer;
    font-size: 22px;
    margin: 10px;
}

#startBtn:active,
.modalText:active {
    transform: scale(0.9)
}


#modal{
    top: 0;
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: 3;
    background: #2779a7;
    background-size: cover;
    color: black;

}

.modalTextYouWin{
    top: 35%;
    right: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 250px;
    position: absolute;
    z-index: 4;
    font-size: 40px;
    font-weight: bolder;
    color: black;
}
.playGame{
    top: 20%;
}
.history ,
.modalText ,
.playGame ,
.logout {
    right: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 30px;
    height: 65px;
    width: 250px;
    position: absolute;
    z-index: 4;
    font-size: 40px;
    font-weight: bolder;
    color: black !important;

}
.logout{
    top: 65%;
}
.setting{
    border: 3px solid black;
    border-radius: 30px;
    top: 50%;
    right: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 250px;
    position: absolute;
    font-size: 40px;
    font-weight: bolder;

}
.history{
    top: 35%;
}

.modalText{
    top: 50%;
}




@media only screen and (max-width: 1200px){
    #startBtn,
    #startBtnHardGame{
        font-size: 16px;

    }

    #startQuestion{
        font-size: 22px;
        text-align: center;
    }
}

@media only screen and (max-width: 850px){
    #startBtn,
    #startBtnHardGame{
        font-size: 12px;
    }

    #startQuestion{
        font-size: 18px;
    }

    #timer {
        width: 120px;
        top: 80%;
    }

    .attempt {
        top: 80%;
    }
}
