<!DOCTYPE>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div id="modal">
    <div class="setting">
        <a style="text-decoration: none; color:black;" th:href="@{/user}">Sign up</a>
    </div>
    <div class="history">
        <a style="text-decoration: none; color:black;"  th:href="@{/login}">Login</a>
    </div>
</div>
</body>
</html>